.salesTableHeading {
  white-space: nowrap;
  font-size: clamp(12px, 0.62vw, 16px);
  font-weight: 500;
  color: #534d59;
  padding-inline: 1rem;
}
.totalCasesRow {
  color: #1b2459;
  font-weight: 500;
}
