#uploadFile {
  margin-top: 40px;

  .totalUploadBlocks {
    .tabsBlock {
      // background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }

    .upload-container {
      width: 100%;
      max-width: 400px;
      margin: 5rem auto 1rem;
      min-height: 120px;
      border: 1px dashed #555;
      background-color: #f0edfe;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .upload-label {
      padding: 5px 10px;
      background-color: #6c63ff;
      color: #fff;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
    }

    .file-input {
      display: none;
    }

    #ErrorsTablecontainer {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      .table {
        width: 30%;
        margin-bottom: 20px;

        h2 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
          }

          th {
            background-color: #f2f2f2;
            font-weight: bold;
          }

          td {
            font-size: 14px;
          }

          tbody tr:nth-child(even) {
            background-color: #f9f9f9;
          }
        }
      }
    }
  }
}