.tableCell {
  padding-inline: 1rem;
  padding-block: 6px;
  border-top: 0.5px solid #edf2f7;
  border-bottom: 0.5px solid #edf2f7;
  font-size: clamp(12px, 0.62vw, 14px);
}
.customTable {
  border-radius: 10px;
}
.customTable table {
  width: 100%;
  border-radius: 10px;
}

.customTable table th {
  height: 40px;
}
