ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

#salesRepresentativesPage {
  border-radius: 40px;
  overflow: hidden;
}

table {
  thead {
    tr {
      th {
        height: auto;
        font-size: 11px;
        font-weight: 500 !important;
        padding: 8px 10px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;

        &:nth-child(3) {
          border-bottom: 0.5px solid #fff;
        }
      }
    }
  }

  tfoot {
    background: #eff1fa;

    td {
      height: auto;
      font-size: 13px;
      font-weight: 600;
      padding: 7px 10px;
      border: 1px solid #edf2f7;
      background: #eff1fa;
    }
  }

  tbody {
    tr {
      td {
        height: auto;
        font-size: 13px;
        font-weight: 500;
        padding: 5px 10px;
        border-bottom: 1px solid #edf2f7;

      }

      .actionButton {
        color: #000000;
        height: 28px;
        font-size: 12px;
        font-weight: 500;
        background-color: #ffffff;
        padding: 0;
        border: 1px solid #edf2f7;
        border-radius: 5px;

        &:hover {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }
    }
  }

  tfoot {
    td {

      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
}

@mixin formItem {
  padding: 3px 15px;
  min-width: 80px;
  border: 1px solid rgba(99, 99, 99, 0.05);
  height: 28px !important;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.tableFiltersContainer {
  background: #ffffff;
  overflow: hidden;
  padding: 15px 2rem 10px;

  h4 {
    font-size: 1.1em;
    color: #425466;
    font-weight: 500;
  }

  .filterLists {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .eachFilterLists {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  .formItemInput {
    .MuiInputBase-root {
      padding-left: 5px !important;
    }

    .MuiInputAdornment-root {
      margin-right: 0px !important;
    }

    input {
      @include formItem();
      border: none;
      padding: 3px 5px;
    }

    fieldset {
      border-color: #e4e4e4;
      border-radius: 10px;
    }
  }

  .inputItemDate {
    overflow: hidden;
    border: 1px solid #d5d5d5;
    border-radius: 5px !important;
    max-width: 230px;

    &:hover {
      border: 1px solid #000000 !important;
      border-radius: 5px;
    }

    .rs-input-group {
      height: 32px;
      border: none;

      input {
        @include formItem();
        padding: 3px 10px 3px 35px;
        height: 32px !important;
        border: none !important;
        border-color: #e4e4e4;
        border-radius: 5px;
      }
    }

    .rs-input-group-addon {
      height: 32px !important;
      position: absolute;
      left: -5px !important;
    }
  }

  .targetFilter {
    .MuiSelect-select {
      @include formItem();
    }

    fieldset {
      border-color: #e4e4e4;
      border-radius: 5px;
    }
  }
}

.MuiMenuItem-root {
  font-size: 12px;
}

.tableContainer {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  position: relative;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  table {
    // width: 100%;
    border-collapse: inherit;
  }

  thead,
  tfoot {
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1;
  }

  tfoot {
    bottom: 0;
  }

  tbody {
    max-height: 300px;
    overflow-y: auto;
  }
}

.inputItemDate {
  overflow: hidden;
  border: 1px solid #d5d5d5;
  border-radius: 5px !important;
  max-width: 230px;

  &:hover {
    border: 1px solid #000000 !important;
    border-radius: 5px;
  }

  .rs-input-group {
    height: 32px;
    border: none;

    input {
      @include formItem();
      padding: 3px 10px 3px 35px;
      height: 32px !important;
      border: none !important;
      border-color: #e4e4e4;
      border-radius: 5px;
    }
  }

  .rs-input-group-addon {
    height: 32px !important;
    position: absolute;
    left: -5px !important;
  }
}

.personDetails {
  background: #fff;
  height: 62px;
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0 0;
  padding: 0 20px;

  .backButton {
    background: #efedfe;
    margin-right: 20px;
    padding: 1px 15px;
    border-radius: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.05);

    svg {
      margin-right: 5px;
      font-size: 19px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#InsurancePayorsData {
  .table {
    padding: 0;
  }

  .tableContainer {
    height: 450px;
    overflow: auto;
    padding: 0 !important;
  }
}

.eachDataCard {
  border-radius: 16px;
  background-color: #fff;
  height: 100%;
  box-shadow: 0px 8px 16px -6px #18274b05;
  box-shadow: 0px 6px 8px -6px #18274b0f;
  box-shadow: 0px -4px 17px 0px #0000000a;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;

  .cardHeader {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h3 {
      font-size: 1.1em;
      font-weight: 500;
      color: #000;
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        margin-top: -2px;
      }
    }
  }

  .cardBody {
    padding: 10px 20px 20px 20px;
  }
}

#caseTypesData {
  .table {
    padding: 0;
  }

  .tableContainer {
    height: 450px;
    overflow: auto;
    padding: 0 !important;
  }

  .tableContainer .thead .table-row .cell:first-child {
    border-left: 0.633951px solid #e0e0e0 !important;
    border-radius: 5px 0px 0px 5px !important;
    position: sticky !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !important;
    left: 0 !important;
    background: #f0edff !important;
  }

  .tableContainer .tbody .table-row .cell:first-child {
    border-left: 0.633951px solid #e0e0e0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !important;
    border-radius: 5px 0px 0px 5px !important;
    position: sticky !important;
    left: 0 !important;
    background: #fff !important;
  }

  .tableContainer .thead .table-row .cell:last-child {
    border-right: 0.633951px solid #e0e0e0 !important;
    border-radius: 0px 5px 5px 0px !important;
    position: sticky !important;
    background: #f0edff !important;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.12) !important;
    right: 0;
  }

  .tableContainer .tbody .table-row .cell:last-child {
    border-right: 0.633951px solid #e0e0e0 !important;
    border-radius: 0px 5px 5px 0px !important;
    position: sticky !important;
    background: #fff !important;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.12) !important;
    right: 0;
  }

  .tableContainer .tfoot .table-row .cell:first-child {
    border-left: 0.633951px solid #e0e0e0 !important;
    border-radius: 5px 0px 0px 5px !important;
    position: sticky !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !important;
    left: 0 !important;
    background: #eff1fa !important;
  }

  .tableContainer .tfoot .table-row .cell:first-child {
    border-left: 0.633951px solid #e0e0e0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12) !important;
    border-radius: 5px 0px 0px 5px !important;
    position: sticky !important;
    left: 0 !important;
    background: #eff1fa !important;
  }

  .tableContainer .tfoot .table-row .cell:last-child {
    border-right: 0.633951px solid #e0e0e0 !important;
    border-radius: 0px 5px 5px 0px !important;
    position: sticky !important;
    background: #f0edff !important;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.12) !important;
    right: 0;
  }

  .tableContainer .tfoot .table-row .cell:last-child {
    border-right: 0.633951px solid #e0e0e0 !important;
    border-radius: 0px 5px 5px 0px !important;
    position: sticky !important;
    background: #fff !important;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.12) !important;
    right: 0;
  }
}

#CaseTypesGraphsData {
  .table {
    padding: 0;
  }

  .tableContainer {
    overflow-x: hidden !important;
  }

  tbody {
    td {
      span {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  table {

    td,
    th {

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
        text-align: center;
      }
    }
  }

  .customTableContainer {
    height: 300px;
    overflow: auto;
    padding: 0 !important;
  }
}

#FacilitiesData {
  .table {
    padding: 0;
  }

  .customTableContainer {
    height: 300px;
    overflow: auto;
    padding: 0 !important;
  }

  tfoot {
    tr {
      td {

        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          display: none;
        }
      }
    }
  }
}

.Stats_totalvalue__y0659 {
  font-size: 1.15em !important;
  font-weight: 600 !important;
}

.signInBackground {
  background-color: #1414f4;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #444cf7, #1414f4),
    repeating-radial-gradient(circle at center center,
      #444cf7,
      #444cf7,
      10px,
      transparent 20px,
      transparent 10px);
  background-blend-mode: multiply;
}

#salesRepresentatives,
#salesRepresentativesPage {
  tfoot {
    tr {
      td {
        &:last-child {
          display: none;
        }
      }
    }
  }
}


#mothWiseCaseTypeData {

  table {
    tbody {
      tr {
        td {
          background: inherit;
          color: inherit;
        }
      }
    }

    td {
      background: #fff !important;
    }

    thead {
      z-index: 9999 !important;
    }

    thead,
    tfoot {
      z-index: 99;
    }

    tbody td:first-child {
      z-index: 9;
    }

    thead th:first-child,
    tbody td:first-child,
    tfoot td:first-child {
      position: sticky;
      left: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

    thead th:last-child,
    tbody td:last-child,
    tfoot td:last-child {
      position: sticky;
      right: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.05);

      svg {
        height: 30px;
      }
    }

    .remove-tooltip>div {
      height: 20px !important;
    }

    tfoot {
      td {
        background: #eff1fa !important;
      }
    }

    thead th {
      z-index: 999;
    }

    tbody th,
    tbody td {
      position: sticky;
      left: 0;
      background: white;
      z-index: 1;
    }
  }


}

.MuiDialog-root {
  z-index: 9999999 !important;
}

#SalesRepresentativeTableData {
  table {
    tr {
      th {
        span {
          padding: 0;
        }
      }
    }
  }

}

#salesRepresentativesPage,
#SalesRepresentativeTableData {
  table {
    tr {

      th,
      td {
        &:nth-child(1) {
          width: 65px !important;
          min-width: 65px !important;
          max-width: 65px !important;
        }
      }
    }
  }
}

#salesRepresentativesPage {
  table {
    tr {

      th,
      td {

        &:nth-child(3),
        &:nth-child(4) {
          width: 150px !important;
          min-width: 150px !important;
          max-width: 150px !important;
        }
      }
    }
  }
}

.hightChartsGraph {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 7px;

}

.dialogCloseButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background: #f44336;
  border-radius: 0 0 0 7px;

  button {
    padding: 0;
    margin: 0;
  }

  svg {
    color: #fff;
    fill: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

    &:hover {
      cursor: pointer;
    }
  }
}

#salesRepresentativesPage {
  table {
    tr {
      td {
        &:nth-child(5) {
          color: #ff9932;
          background-color: #f9feff;

        }

        &:nth-child(6) {
          color: #36c24d;
          background-color: #f5fff7;
        }

        &:nth-child(7) {
          color: #fe5046;
          background-color: #fff9f9;
        }
      }
    }
  }
}

#InsurancePayorsData,
#CaseTypesGraphsData {
  table {
    tr {
      td {
        &:nth-child(2) {
          color: #ff9932;
          background-color: #f9feff;

        }

        &:nth-child(3) {
          color: #36c24d;
          background-color: #f5fff7;
        }

        &:nth-child(4) {
          color: #fe5046;
          background-color: #fff9f9;
        }
      }
    }
  }
}

#FacilitiesData {
  table {
    tr {
      td {
        &:nth-child(3) {
          color: #ff9932;
          background-color: #f9feff;

        }

        &:nth-child(4) {
          color: #36c24d;
          background-color: #f5fff7;
        }

        &:nth-child(5) {
          color: #fe5046;
          background-color: #fff9f9;
        }
      }
    }
  }
}

#SalesRepresentativeTableData {
  table {
    tr {
      td {
        &:nth-child(5) {
          color: #ff9932;
          background-color: #f9feff;

        }

        &:nth-child(6) {
          color: #36c24d;
          background-color: #f5fff7;
        }

        &:nth-child(7) {
          color: #fe5046;
          background-color: #fff9f9;
        }
      }
    }
  }
}

#insuranceCaseTypesData {

  th,
  td {
    min-width: 200px !important;
  }
}