#salesRepresentativesPage {
  border-radius: 40px;

  .salesRepFilters {
    height: 60px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    .subNav {
      align-items: center;
      justify-content: space-between;
      .leftSide {
        .tableHeader {
          color: #425466;
          font-weight: 500;
        }
      }
      .rightSide {
        .filterLists {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .eachFilterLists {
            list-style: none;
            .selectInput {
              .Mui-focused {
                top: 0px;
                color: #000000;
              }
              label {
                top: -10px;
              }
              .MuiSelect-select {
                padding: 5px !important;
              }
              fieldset {
                border-color: #e4e4e4;
                border-radius: 6px;
              }
            }
            .searchInput {
              background-color: #ffffff;
              padding: 8px 12px;
              .MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
                padding-left: 5px !important;
              }
              .MuiInputAdornment-root {
                margin-right: 5px !important;
              }
              input {
                padding: 6px;
                padding-left: 0;
                border-radius: 10px;
              }
              fieldset {
                border-color: #e4e4e4;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }

  table {
    thead {
      tr {
        th {
          height: auto;
          font-size: 11px;
          font-weight: 500;
          padding: 15px 20px;
          border-left: 0.5px solid #fff;
          border-right: 0.5px solid #fff;
          &:nth-child(3) {
            border-bottom: 0.5px solid #fff;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          height: auto;
          font-size: 13px;
          font-weight: 500;
          padding: 5px 20px;
          border: 0.5px solid #fff;
          &:nth-child(3) {
            color: #477593;
            background-color: #f9feff;
          }
          &:nth-child(4) {
            color: #ff9932;
            background-color: #ffffff;
          }
          &:nth-child(5) {
            color: #36c24d;
            background-color: #f5fff7;
          }
          &:nth-child(6) {
            color: #fe5046;
            background-color: #fff9f9;
          }
        }
        .actionButton {
          color: #000000;
          height: 28px;
          font-size: 12px;
          font-weight: 500;
          background-color: #ffffff;
          padding: 0;
          border: 1px solid #edf2f7;
          border-radius: 5px;
          &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }
      }
    }
  }
}
