ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

#salesRepresentativesPage {
  border-radius: 40px;
  overflow: hidden;

  // .filtersNavbar {
  //   height: 60px;
  //   background: #fff;
  //   border-radius: 10px 10px 0 0;
  //   display: flex;
  //   align-items: center;
  //   padding: 0 1.25rem;
  // }

  table {

    thead {
      tr {
        th {
          height: auto;
          font-size: 11px;
          font-weight: 500;
          padding: 15px 20px;
          border-left: 0.5px solid #fff;
          border-right: 0.5px solid #fff;

          &:nth-child(3) {
            border-bottom: 0.5px solid #fff;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          height: auto;
          font-size: 13px;
          font-weight: 500;
          padding: 5px 20px;
          border: 0.5px solid #fff;

          &:nth-child(3) {
            color: #477593;
            background-color: #f9feff;
          }

          &:nth-child(4) {
            color: #ff9932;
            background-color: #ffffff;
          }

          &:nth-child(5) {
            color: #36c24d;
            background-color: #f5fff7;
          }

          &:nth-child(6) {
            color: #fe5046;
            background-color: #fff9f9;
          }
        }

        .actionButton {
          color: #000000;
          height: 28px;
          font-size: 12px;
          font-weight: 500;
          background-color: #ffffff;
          padding: 0;
          border: 1px solid #edf2f7;
          border-radius: 5px;

          &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }
      }
    }
  }
}

.tableFiltersContainer {
  background: #ffffff;
  overflow: hidden;
  padding: 10px 2rem;

  h4 {
    font-size: 1.1em;
    font-weight: 500;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      &:not(:last-child) {
        margin-right: 2em;
      }

    }
  }

  @mixin formItem {
    padding: 3px 15px;
    min-width: 80px;
    border: 1px solid rgba(99, 99, 99, 0.05);
    height: 25px !important;
    display: flex;
    align-items: center;
    font-size: 13px;
  }

  .formItemInput {
    input {
      @include formItem();
    }
  }

  .inputItemDate {
    overflow: hidden;
    border: 1px solid #d5d5d5;
    border-radius: 7px !important;
    max-width: 230px;

    .rs-input-group-addon {
      height: 25px !important;
    }

    .rs-input-group {
      height: 25px;

      input {
        padding: 0;
        height: 25px;
        @include formItem();
        border: none !important;
        border-radius: 0 !important;
      }
    }
  }

  .targetFilter {
    .MuiSelect-select {
      @include formItem();
    }
  }
}

.MuiMenuItem-root {
  font-size: 12px;
}

#customTable {
  width: 100%;
  height: 500px;
  overflow: auto;
  margin: 0 auto;
}